[Unit]
Description=WakeMyPotata: Emergency RAID/system safe shutdown (battery-only)

[Timer]
Unit=wmp.service
OnBootSec=0
OnCalendar=*-*-* *:00/01:00
Persistent=true

[Install]
WantedBy=timers.target
